<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand"><%= link_to 'Home', root_path %></h3>
    <nav>
      <ul class="nav masthead-nav">
        <li><%= link_to 'Ruby Object Demo', plain_wallet_path %></li>
        <li><%= link_to 'ActiveModel Demo', wallet_path %></li>
        <li><a href="http://www.sbbsoftware.com" target="_blank">sometimes interesting blog</a></li>
      </ul>
    </nav>
  </div>
</div>
