<div class="inner cover">
  <h1 class="cover-heading">ActiveModel Demonstrations</h1>

  <p class="lead">
    Source code to accompany the sometimes interesting blog at
    <a target="_blank" href="http://www.sbbsoftware.com">SBB Software</a>
  </p>


  <div class="row">
    <p class="lead"><%= link_to 'Click here', plain_wallet_path %> to see the Ruby Object version demo</p>

    <p class="lead"><%= link_to 'Click here', wallet_path %> to see the ActiveModel version demo</p>
  </div>
  <br>

  <div class="row lead">
    <a href="http://www.sbbsoftware.com" target="_blank">Learn more</a>
  </div>


</div>

<div class="mastfoot">
  <div class="inner">
    <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by
      <a href="https://twitter.com/mdo">@mdo</a>.</p>
  </div>
</div>

